<h5>
	<a href="#">Browse Books</a>
</h5>

<% _(genres).each( function (genre) { %>
 <li>
	 <a href="#genre/<%= genre %>"><%= genre %></a>
 </li>
<% }); %>

<h5><a href="#bookshelves">My Books</a></h5>
<li> <a href="#bookself/reviewed">Reviewed Shelf</a> </li>
<li> <a href="#bookself/reviewed">To Read Shelf</a> </li>