<h2>Sign In</h2>

<% if logged_in? %>
	You are already logged in as <%=current_user.username%>. Please log out before signing in again.
<% else %>
	<form action="/session" method="post">
		<input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">

		<label for="user_username">Username:</label>
		<input type="text" name="user[username]" id="user_username"><br>

		<label for="user_password">Password:</label>
		<input type="password" name="user[password]" id="user_password">

		<input type="submit" value="Sign In!">
	</form>
<% end %>

Don't have an account? <%= link_to "Sign Up", new_user_url %>