<% if logged_in? %>
	You are already logged in as <%=current_user.username%>. Please log out before signing in again.
<% else %>
<div class="row">
	<div class="large-5 large-centered columns">
		<form action="/session" method="post">
			<fieldset>
				<legend>Sign In</legend>
				<input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">

				<label for="user_username">Username:</label>
				<input type="text" name="user[username]" id="user_username" class="large-4.columns"><br>

				<label for="user_password">Password:</label>
				<input type="password" name="user[password]" id="user_password" class="large-4.columns">

				<input type="submit" value="Sign In!">
			</fieldset>
		</form>
	</div>
</div>

<div class="row">
	<div class="large-5 large-centered columns">
		Don't have an account? <%= link_to "Sign Up", new_user_url %>
	</div>
</div>
<% end %>

