<nav class="top-bar">
	<ul class="title-area">
		<li class="name">
			<h3><a href="#">OkayReads222</a></h3>
		</li>
		<li class="toggle-topbar menu-icon">
			<a href="#"><span>Menu</span></a>
    </li>
	</ul>

	<% if (Goodreadsclone.Store.currentUser) { %>
		<section class="top-bar-section">
			<ul class="right">
				
				<li class="divider"></li>
				<li><a href="#">Browse books</a></li>
				<li class="divider"></li>
				<li><a href="#bookshelves">Bookshelveswtf</a></li>
				<li class="divider"></li>
				<li id="log-out"><a href="#">Log out</a></li>
				<li class="divider"</li>
			</ul>
	<% } %>

</nav>
