<form id="create-review">
  <label for="review_title">Title:</label>
  <input type="text" name="review[title]" id="review_title">

  <label for="review_text">Write your review here</label>
  <textarea name="review[body]" id="review_text"></textarea>

  <input type="submit" value="Submit Review">
</form>