<div class="review-form">
  <form id="create-review">
    <label for="review_title">Title of Review:</label>
    <input type="text" name="review[title]" id="review_title"><br>

    <label for="review_text">Body of Review:</label>
    <textarea name="review[body]" id="review_text"></textarea><br>

    <label for="new-review-rating">Your rating:</label>
    <span id="new-review-rating"></span><br>
    <button class="small button">Submit Review</button>
  </form>
</div>