<h2>Your bookshelf</h2>

Books You've Read
<div class="readShelf">
<% user.get('reviewed_books').each(function (book) { %>
	<img src="http://covers.openlibrary.org/b/olid/<%=book.escape('open_library_id')%>-S.jpg" />
<% }); %>
</div>