<div class="stars">
  <span id="star1" class="unfilled">
    <span class="dark">&#9733</span> <!-- black star -->
    <span class="light">&#9734</span> <!-- white star -->
  </span>
  <span id="star2" class="unfilled">
    <span class="dark">&#9733</span>
    <span class="light">&#9734</span>
  </span>
  <span id="star3" class="unfilled">
    <span class="dark">&#9733</span>
    <span class="light">&#9734</span>
  </span>
  <span id="star4" class="unfilled">
    <span class="dark">&#9733</span>
    <span class="light">&#9734</span>
  </span>
  <span id="star5" class="unfilled">
    <span class="dark">&#9733</span>
    <span class="light">&#9734</span>
  </span>
</div>
<div class="average-rating">
  Average rating: <%= book.get('average_rating') %>
</div>