<h2>Sign Up</h2>

<% if logged_in? %>
	You are already logged in as <%=current_user.username%>. Please log out before creating a new account.
<% else %>
	<form action="<%= users_url %>" method="post">
		<input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">

		<label for="user_username">Username:</label>
		<input type="text" name="user[username]" id="user_username"><br>

		<label for="user_email">Email address:</label>
		<input type="text" name="user[email]" id="user_email"><br>

		<label for="user_password">Password:</label>
		<input type="password" name="user[password]" id="user_password"><br>

		<input type="submit" value="Sign Up!">
	</form>
<% end %>