<div class="row">
	<div id="content" class="large-8 columns">
	</div>

	<ul id="sidebar" class="side-nav" class="large-2 columns">
	</ul>
</div>

<script type="application/json" id="current_user_json">
	{
		"id": <%= current_user.id %>,
		"username": "<%= current_user.username %>"
	}
</script>

<script>
	$(document).ready(function(){
	  Goodreadsclone.initialize();
	});
</script>