<div id="content", style="float: left;">
</div>

<div id="sidebar", style="float: right;">
</div>

<!-- // <script type="application/json" id="bootstrapped_books">
//   { books: <%= Book.all.to_json.html_safe %> }
// </script> -->

<script>
	$(document).ready(function(){
	  Goodreadsclone.initialize();
	});
</script>