<div id="content", style="float: left;">
</div>

<div id="sidebar", style="float: right;">
</div>

<script type="application/json" id="current_user_json">
  { "id": <%= current_user.id %>, "username": "<%= current_user.username %>" }
</script>

<script>
	$(document).ready(function(){
	  Goodreadsclone.initialize();
	});
</script>