// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.stars {
	color: blue;
}

.filled {
	.dark {
		display: inline;
	}
	.light {
		display: none;
	}
}

.unfilled {
	.light {
		display: inline;
	}
	.dark {
		display: none;
	}
}

//.starred1 {
//	#unfilled1 {
//		display: none;
//	}
//	#filled1 {
//		display: inline;
//	}
//	#filled2 {
//		display: none;
//	}
//	#filled3 {
//		display: none;
//	}
//	#filled4 {
//		display: none;
//	}
//	#filled5 {
//		display: none;
//	}
//}
//
//.starred2 {
//	#unfilled1 {
//		display: none;
//	}
//	#unfilled2 {
//		display: none;
//	}
//	#filled3 {
//		display: none;
//	}
//	#filled4 {
//		display: none;
//	}
//	#filled5 {
//		display: none;
//	}
//}
//
//.starred3 {
//	#unfilled1 {
//		display: none;
//	}
//	#unfilled2 {
//		display: none;
//	}
//	#unfilled3 {
//		display: none;
//	}
//	#filled4 {
//		display: none;
//	}
//	#filled5 {
//		display: none;
//	}
//}
//
//.starred4 {
//	#unfilled1 {
//		display: none;
//	}
//	#unfilled2 {
//		display: none;
//	}
//	#unfilled3 {
//		display: none;
//	}
//	#unfilled4 {
//		display: none;
//	}
//	#filled5 {
//		display: none;
//	}
//}
//
//.starred5 {
//	#unfilled1 {
//		display: none;
//	}
//	#unfilled2 {
//		display: none;
//	}
//	#unfilled3 {
//		display: none;
//	}
//	#unfilled4 {
//		display: none;
//	}
//	#unfilled5 {
//		display: none;
//	}
//}