<nav class="top-bar">
	<ul class="title-area">
		<li class="name">
			<h3><a href="#">OkayReads</a></h3>
		</li>
		<li class="toggle-topbar menu-icon">
			<a href="#"><span>Menu</span></a>
		</li>
	</ul>

	<% if logged_in? %>
	<section class="top-bar-section">
		<ul class="right">
			<li class="divider"></li>
			<li><a href="#">Browse books</a></li>
			<li class="divider"></li>
			<li><a href="#bookshelves">Bookshelves</a></li>
			<li class="divider"></li>
			<li id="log-out">
				<%= link_to "Log out #{current_user.username}", session_url, :method => :delete %>
			</li>
			<li class="divider"></li>
		</ul>
	</section>
	<% end %>
	
</nav>
