<nav class="top-bar">
	<ul class="title-area">
		<li class="name">
			<h3><a href="#">OkayReads</a></h3>
		</li>
		<li class="toggle-topbar menu-icon">
			<a href="#"><span>Menu</span></a>
    </li>
	</ul>

	<% if logged_in? %>
		<section class="top-bar-section">
			<ul class="right">
				<li class="divider"></li>
				<li class="has-form">
					<form>
						<div class="row collapse">
							<div class="small-8 columns">
								<input type="text" placeholder="Search by title">
								<i class="fi-[heart]"></i>
								<i class="fi-heart"></i>
							</div>
					</form>
				</li>
				<li class="divider"></li>
				<li><a href="#">Browse books</a></li>
				<li class="divider"></li>
				<li><a href="#bookshelves">Bookshelves</a></li>
				<li class="divider"></li>
			</ul>
	<% end %>

</nav>
